{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <div class="container">
    <h1 class="text-center my-5">게시판</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for review in reviews %}
        <div class="col" style="height:auto;">
          <div class="card" style="height: 20vh; width:100%">
            <div class="card_link_img">
              {% if review.image_thumbnail %}
                <img src="{{ review.image_thumbnail.url }}" class="card-img-top" style="w-100 h-100" alt="...">
              {% else %}
                <img src="{% static 'image/noimg.jpg' %}" class="card-img-top" style="w-100 h-100" alt="...">
              {% endif %}
              <div class="card_link_btn">
                <button class="btn btn-primary">상세보기</button>
              </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ review.created_at }}</p>
                {% comment %} <a class="btn btn-primary" href="{% url 'reviews:reviews-detail' review.pk %}">상세보기</a> {% endcomment %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
